<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.gachon.sw.gbro">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GBro">
        <receiver
            android:name=".map.GeofenceReceiver"
            android:allowBackup="true"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="@string/navermap_clientid" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/fcm_id" />

        <service
            android:name=".fcm.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.LocalNotiService"
            android:exported="false" />

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.GBro.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.GBro.Splash" />
        <activity android:name=".setting.SettingActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".board.PostContentActivity" />
        <activity
            android:name=".board.WriteActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".setting.MyPostActivity" />
        <activity android:name=".chat.ChatListActivity" />
        <activity
            android:name=".chat.ChatActivity"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>